<div class="main-div">
    <mat-card style="padding: 75px; max-width: 600px; align-items: center;border: 0.5px solid black;">
    <mat-card-content>
    <table>
        <div *ngIf="isJewishCulture()" >
            <td style="width:20px;"></td>
                <td> 
                    <div style="white-space:pre-wrap">
                        ראשית, ברצוננו להודות לך על הסכמתך להשתתף במחקר.<br/>

                        המחקר נערך באוניברסיטה העברית והחוקר הראשי פרופ' אריאל כנפו קיבל<br/> אישור לביצוע המחקר. 
                        
                        לפני שתשתתף/פי, חשוב לנו להסביר לך על המחקר. 
                         
                        המחקר בוחן איך גורם משמעותי בחיים של כולנו- ערכים, מתפתח. <br/>לצורך כך, נבקש שתתנ/י לילדך להשתתף במשימה אינטרקטיבית הבוחנת את ערכיהם.
                         אין במשימה תשובות "נכונות" או "לא נכונות", ואין צורך להיות "מומחה" כדי לענות.
                         <br/>מטרת המחקר תושג בצורה הטובה ביותר אם ילדך יתאר את עצמו בצורה מדויקת ככל האפשר. 
                         לפני שילדך ישתתף במשימה, נבקש שתמלא מספר פרטים דמוגרפיים.
                         
                        ברצוננו להבהיר כי אינכם חייבים להשתתף במחקר.<br/>
                         כמו כן, אם אינכם חשים בנוח עם אחת או יותר מהשאלות, אינכם חייבים לענות על השאלה. 
                        בנוסף, זכותכם להפסיק את השתתפותכם במחקר בכל עת שתרצה/י. 
                         
                        חשוב לנו להבהיר כי סודיות תשובותיך תישמר בצורה מלאה. לא נעביר את תשובותיך לאף גורם. 
                        <br/>בנוסף, בכל שאלה או בעיה הקשורה למחקר תוכל/י לפנות ל- פרופ' אריאל כנפו במספר טלפון/משיבון: 02-5883798 , או בכתובת הדואר האלקטרוני: knafo.lab@gmail.com בכל שעות היממה.
                        
                        <br/><br/> בלחיצה על החץ כאן למטה, את/ה מאשר/ת את ההשתתפות במחקר.
                    </div>

</td>
<button mat-raised-button color="primary" (click)="start()">{{'מאשר/ת'}} </button>

        </div>

        <div *ngIf="isArabicCulture()">
            
                <td style="width:20px;"></td>
                <td>
            
أولا : نود أن نشكرك على موافقتك على المشاركة في الدراسة. تجرى الدراسة في الجامعة العبرية وحصل الباحث الرئيسي البروفيسور أرييل كنافو ، على الموافقة لإجراء الدراسة. قبل المشاركة ، من المهم بالنسبة لنا شرح البحث لك.<br/><br/>

تبحث الدراسة في كيفية تطور عامل مهم في حياة كل منا - القيم. لهذا الغرض ،لذلك إن كان جيل أحد أطفالك بين (5 -12 ) سنة ، نطلب منك السماح لطفلك أو طفلتك  بالمشاركة في مهمة تفاعلية تفحص قيمهم. لا توجد إجابات "صحيحة" أو "غير صحيحة" في المهمة ، ولا داعي لأن تكون "خبيرًا" للإجابة. سيتم تحقيق الغرض من الدراسة على أفضل وجه إذا وصف طفلك نفسه بأكبر قدر ممكن من الدقة. قبل أن يشارك طفلك في المهمة ، نطلب منك ملء بعض التفاصيل الديموغرافية.<br/><br/>
 
من المهم لنا أن نوضح أنك لست مجبرا على الاشتراك بالدراسة. أيضًا ، إذا لم تكن مرتاحًا لواحد أو أكثر من الأسئلة ، فلا داعي للإجابة على السؤال. بالإضافة إلى ذلك ، يحق لك إنهاء مشاركتك في الدراسة في أي وقت تريده.
 
من المهم بالنسبة لنا أن نوضح أنه سيتم الحفاظ على سرية إجاباتك بالكامل. لن نمرر إجاباتك لأي شخص.<br/><br/> لأي سؤال أو مشكلة تتعلق بالبحث ، يمكنك الاتصال بالبروفيسور أرييل كنافو عبر الهاتف / جهاز الرد على المكالمات: 5883798 -02، أو عن طريق البريد الإلكتروني: knafo.lab@gmail.com على مدار 24 ساعة في اليوم.

بضغطك على الزر أدناه يمثل موافقتك على الاشتراك بالدراسة

</td>
<button mat-raised-button color="primary" (click)="start()">{{'موافق/ة'}} </button>
</div>
</table>
</mat-card-content>
</mat-card>
</div>

<!--  [queryParams]="{ culture: 'muslim'}" -->

   

