<div class="menu">
    <div class="button-box">
        <button mat-raised-button color="primary" (click)="clicked('Hebrew')"> 
            עברית/Hebrew
        </button>
    </div>
    <div class="button-box">
        <button mat-raised-button color="primary" (click)="clicked('Arabic')">
            عربي/Arabic 
        </button>
    </div>
    <div class="button-box">
        <button mat-raised-button color="primary" (click)="clicked('English')">
            English
        </button>
    </div>
</div>
 
<!-- [queryParams]="{ language: 'Hebrew'}" -->
  