<div class="menu">
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/concent']" [queryParams]="{ culture: 'Jewish'}">
            עברית/Hebrew
        </button>
    </div>
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/menu2']" [queryParams]="{ culture: 'Christian'}">
            عربي/Arabic 
        </button>
    </div>
</div>
    <!-- <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/concent']" [queryParams]="{ culture: 'christian'}">
            Christian
        </button>
    </div>
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/concent']" [queryParams]="{ culture: 'druze'}">
            Druze
        </button>
    </div>
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/concent']" [queryParams]="{ culture: 'muslim'}">
            Muslim
        </button>
    </div>
</div> -->