<div class="main-div">
    <mat-card style="padding: 40px; max-width: 600px; align-items: center;">
        <mat-card-content>
            <h2 class="example-h2">{{this.culture === 'Hebrew' ? 'כניסה' : 'الدخول'}}</h2>
            
            <hr>
            <table>
                <tr>
                    <td>
                        <b>{{this.culture === 'Hebrew' ? 'קבוצה' : ' المجموعة'}}</b>
                        <br>
                        <p class="ask-parag">{{this.culture === 'Hebrew' ? 'תקליד/י את מספר הקבוצה לפי הדת שלך:' : 'ادخل/ي رقم المجموعة بحسب ديانتك:'}}</p>
                        <p class="option-parag">{{this.culture === 'Hebrew' ? '1- יהדות' : '1- اليهودية'}}</p>
                        <p class="option-parag">{{this.culture === 'Hebrew' ? '2- אסלאם' : '2- الاسلام'}}</p>
                        <p class="option-parag">{{this.culture === 'Hebrew' ? '3- נצרות' : '3- المسيحية'}}</p>
                        <p class="option-parag">{{this.culture === 'Hebrew' ? '4- דרוזית' : '4- درزية'}}</p>
                    </td>
                    <td style="width:20px;"></td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input [formControl]="schoolID" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>{{this.culture === 'Hebrew' ? 'ילד' : 'ولد'}}</b>
                        <br>
                        <span *ngIf="this.dataService.lab === 'texas' || this.dataService.lab === 'rotem'; else PID">{{this.culture === 'Hebrew' ? 'מספר הנבדק' : 'رقم المشترك/ة'}}</span>
                        <ng-template #PID><span>{{this.culture === 'Hebrew' ? 'תקליד/י את גיל הילד/ה' : 'أدخل/ي جيل ابنك/ابنتك'}}</span></ng-template>
                    </td>
                    <td style="width:20px;"></td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input [formControl]="childID" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>{{this.culture === 'Hebrew' ? 'בן או בת?' : 'ولد أو بنت ؟'}}</b>
                    </td>
                    <td></td>
                    <td>
                        <mat-radio-group [(ngModel)]="creds.gender">
                            <table style="width:100%">
                                <td class="data-cell">
                                    <img src="../../../assets/images/boy.png">
                                    <br>
                                    <mat-radio-button color="primary" class="selection" value="M"></mat-radio-button>
                                </td>
                                <td class="gap-cell"></td>
                                <td class="data-cell">
                                    <img src="../../../assets/images/girl.png">
                                    <br>
                                    <mat-radio-button color="primary" class="selection" value="F">
                                    </mat-radio-button>
                                </td>
                            </table>
                        </mat-radio-group>
                    </td>
                </tr>
            </table>
            <button mat-raised-button color="primary" (click)="start()">{{this.culture === 'Hebrew' ? 'היכנסו למשחק' :
                'الدخول إلى اللعبة'}}</button>
            <p *ngIf="invalidSchoolIDFlag" style="color:red; font-weight: bold;">
                {{this.culture === 'Hebrew' ? 'מספר הקבוצה אינו מתאים' :
                'رقم المجموعة غير ملائم'}}
            </p>

            <p *ngIf="invalidChildIDFlag" style="color:red; font-weight: bold;">
                <span *ngIf="this.dataService.lab === 'texas' || this.dataService.lab === 'rotem'; else ChildId">
                    {{this.culture === 'Hebrew' ? 'נא להכניס מספר הילד/ה המתאים במספרים' : 'الرجاء إدخال رقم الطفل/ة الملائم بالارقام'}}
                </span>
                <ng-template #ChildId><span>
                    {{this.culture === 'Hebrew' ? 'נא להכניס גיל הילד/ה המתאים במספרים' : 'الرجاء إدخال جيل الطفل/ة الملائم بالارقام'}}
                </span></ng-template>
            </p>
        </mat-card-content>
    </mat-card>
</div>