<div class="main-div">
    <mat-card style="padding: 40px; max-width: 600px; align-items: center;">
        <mat-card-content>
            <h2 class="example-h2">{{this.culture === 'Hebrew' ? 'כניסה' : this.dataService.json_data.start.title_start}}</h2>
            
            <hr>
            <table>
                <tr>
                    <td>
                        <b>{{this.culture === 'Hebrew' ? 'קבוצה' : this.dataService.json_data.start.the_group}}</b>
                        <br>
                        <p class="ask-parag">{{this.culture === 'Hebrew' ? 'תקליד/י את מספר הקבוצה לפי הדת שלך:' : this.dataService.json_data.start.write_group_number}}</p>
                        <p class="option-parag">{{this.culture === 'Hebrew' ? '1- יהדות' : this.dataService.json_data.start.jewish}}</p>
                        <p class="option-parag">{{this.culture === 'Hebrew' ? '2- אסלאם' : this.dataService.json_data.start.islam}}</p>
                        <p class="option-parag">{{this.culture === 'Hebrew' ? '3- נצרות' : this.dataService.json_data.start.christ}}</p>
                        <p class="option-parag">{{this.culture === 'Hebrew' ? '4- דרוזית' : this.dataService.json_data.start.drozi}}</p>
                    </td>
                    <td style="width:20px;"></td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input [formControl]="schoolID" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- <b>{{this.culture === 'Hebrew' ? 'ילד' : this.dataService.json_data.start.boy}}</b> -->
                        <br>
                        <span *ngIf="withChildNumberFlag; else PID">
                            {{this.culture === 'Hebrew' ? 'מספר הנבדק' : this.dataService.json_data.start.participant_number}}</span>
                        <ng-template #PID><span>{{this.culture === 'Hebrew' ? 'תקליד/י את גיל הילד/ה' : this.dataService.json_data.start.insert_age}}</span></ng-template>
                    </td>
                    <td style="width:20px;"></td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input [formControl]="childID" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="withThreeInputsFlag">
                    <td>
                        <br>
                        <span>
                            {{this.culture === 'Hebrew' ? 'תקליד/י את גיל הילד/ה' : this.dataService.json_data.start.insert_age}}</span>
                    </td>
                    <td style="width:20px;"></td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input [formControl]="childage" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>{{this.culture === 'Hebrew' ? 'בן או בת?' : this.dataService.json_data.start.boy_or_girl}}</b>
                    </td>
                    <td></td>
                    <td>
                        <mat-radio-group [(ngModel)]="creds.gender">
                            <table style="width:100%">
                                <td class="data-cell">
                                    <img src="../../../assets/images/boy.png">
                                    <br>
                                    <mat-radio-button color="primary" class="selection" value="M"></mat-radio-button>
                                </td>
                                <td class="gap-cell"></td>
                                <td class="data-cell">
                                    <img src="../../../assets/images/girl.png">
                                    <br>
                                    <mat-radio-button color="primary" class="selection" value="F">
                                    </mat-radio-button>
                                </td>
                            </table>
                        </mat-radio-group>
                    </td>
                </tr>
            </table>
            <button mat-raised-button color="primary" (click)="start()">{{this.culture === 'Hebrew' ? 'היכנסו למשחק' :
                this.dataService.json_data.start.enter_game}}</button>
            <p *ngIf="invalidSchoolIDFlag" style="color:red; font-weight: bold;">
                {{this.culture === 'Hebrew' ? 'מספר הקבוצה אינו מתאים' :  this.dataService.json_data.start.error_group_number}}
            </p>

            <p *ngIf="withThreeInputsFlag && invalidChildAgeFlag" style="color:red; font-weight: bold;">
                {{this.culture === 'Hebrew' ? 'נא להכניס גיל הילד/ה המתאים במספרים' : this.dataService.json_data.start.please_insert_age}}
            </p>

            <p *ngIf="invalidChildIDFlag" style="color:red; font-weight: bold;">
                <span *ngIf="withChildNumberFlag; else ChildId">
                    {{this.culture === 'Hebrew' ? 'נא להכניס מספר הילד/ה המתאים במספרים' : this.dataService.json_data.start.please_insert_child_num}}
                </span>
                <ng-template #ChildId><span>
                    {{this.culture === 'Hebrew' ? 'נא להכניס גיל הילד/ה המתאים במספרים' : this.dataService.json_data.start.please_insert_age}}
                </span></ng-template>
            </p>
        </mat-card-content>
    </mat-card>
</div>