.option-parag {
  margin: 0;
}

.ask-parag{
  margin-bottom: 3px;
  min-width: 123px;
}

.gap-cell {
  width: 20px;
}

.data-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  padding-bottom: 13px;
}

mat-radio-button {
  color: primary;
}

.example-h2 {
  font-weight: bold;
}


@media screen and (max-width: 400px) {
  .mat-card.mat-focus-indicator {
    padding: 25px !important;
  }
}