.option-parag {
  margin: 0;
}

.ask-parag{
  margin-bottom: 3px;
  min-width: 123px;
}

.gap-cell {
  width: 20px;
}

.data-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  padding-bottom: 13px;
}

.schoolID-input-container{
  text-align: center;
}

.radio-button{
  margin-left: 5px;
  margin-right: 5px;
}

.child-id-input-container {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-form-field-infix {
  max-width: 123px !important;
}

::ng-deep .mat-form-field {
  text-align: center !important;
}

.age-under-input {
  text-align: center;
  margin-top: -18px;
  padding-top: 0;
}

.noPadding {
  padding-bottom: 0;
}

.enter-game-button{
  display: block;
  margin: auto;
  border-radius: 20px;
}

.enter-game-button:hover {
  background-color: #673ab7b0;
}

mat-radio-button {
  color: primary;
}

.example-h2 {
  font-weight: bold;
}


@media screen and (max-width: 400px) {
  .mat-card.mat-focus-indicator {
    padding: 25px !important;
  }
}