<div class="vr-containter" [class] = "style_lang_direction_class">
    <!-- <div *ngIf="scene == 3"> -->
    <app-rank-set1 *ngIf="(!SecCondition && scene == 3) || (SecCondition && scene == 7)" [culture]="this.dataService.applanguages1" (gotRanking)="SecCondition ?  scene7($event) : scene3($event)">
    </app-rank-set1>
        <!-- <app-rank-set2 *ngIf="randomPyramidNum == 1" [culture]="this.dataService.applanguages1" (gotRanking)="scene3($event)">
        </app-rank-set2> -->
    <!-- </div> -->
    <app-snake-game *ngIf="(!SecCondition && scene == 6) || (SecCondition && scene == 2)" [culture]="this.dataService.applanguages1" (gotCreds)="SecCondition ?  scene2($event) : scene6($event)"></app-snake-game>
    <app-summary *ngIf="(!SecCondition && scene == 7 ) || (SecCondition && scene == 3)" [culture]="this.dataService.applanguages1"  (gotCreds)="SecCondition ?  scene3($event) : scene7($event)"></app-summary>
    <!-- <app-lab *ngIf="scene == 8" (gotCreds)="scene8($event)"></app-lab> -->
    <app-menu *ngIf = "scene == 9" (gotCreds)="scene9($event)"></app-menu>
    <app-concent-from *ngIf = "scene == 11" [culture]="this.dataService.applanguages1" (gotCreds)="scene11($event)"></app-concent-from>
    <app-menu2 *ngIf = "scene == 12" (gotCreds)="scene12($event)"></app-menu2>
    <!-- <app-demographic [culture]="this.dataService.applanguages1" *ngIf = "scene == 10" (gotCreds)="scene10($event)"></app-demographic> -->
    <!-- <app-Attention-task3-from [culture]="this.dataService.applanguages1" *ngIf="scene == 13" (gotCreds)="scene13($event)"></app-Attention-task3-from> -->
    <div class="vr-padding" *ngIf="[0, 1, 2, 4, 6 , 7].includes(scene)">
        <!-- <app-rotate-screen *ngIf="scene == 0" [culture]="this.dataService.applanguages1" (gotCreds)="scene1($event)"></app-rotate-screen> -->
        <app-entering-form *ngIf="scene == 1" [culture]="this.dataService.applanguages1" (gotCreds)="scene1($event)"></app-entering-form>
        <app-values-set1 *ngIf="(!SecCondition && scene == 2) || (SecCondition && scene == 6)" [culture]="this.dataService.applanguages1" (openingEnded)="SecCondition ?  scene6($event) : scene2($event)">
        </app-values-set1>
        <!-- <app-Attention-task-from [culture]="this.dataService.applanguages1" *ngIf="scene == 7"  (openingEnded)="scene7($event)">
        </app-Attention-task-from> -->
        <!-- <app-values-set2 *ngIf="scene == 2 && randomPyramidNum == 1" [culture]="this.dataService.applanguages1" (openingEnded)="scene2($event)">
        </app-values-set2> -->
    </div>
</div>