.vr-containter {
  width: 100vw;
  height: 100vh;
  background-color: skyblue;
}

.vr-padding {
  padding: 10vh;
}


.right-dir{
  direction: rtl;
  text-align: right;
  unicode-bidi: embed;
}

.left-dir {
  direction: ltr;
  text-align: left;
  unicode-bidi: embed;
}
