<div class="menu2">
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/concent']" [queryParams]="{ culture: 'christian'}">
            Christian
        </button>
    </div>
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/concent']" [queryParams]="{ culture: 'druze'}">
            Druze
        </button>
    </div>
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/concent']" [queryParams]="{ culture: 'muslim'}">
            Muslim
        </button>
    </div>
</div>