.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.card-container {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-card {
  padding: 40px;
}

@media screen and (max-width: 500px) {  
  .mat-card {
    padding: 20px;
  }
}