<div class="container">
    <h1 *ngIf="submited">{{culture == 'Hebrew' ? '!תודה' : 'Thank You!'}}</h1>

    <h1 *ngIf="!submited">{{culture == 'Hebrew' ? 'אנא סמני האם הילד' : 'Please select if the child'}}</h1>

    <form *ngIf="!submited" (ngSubmit)="ending()">
        <label>
            <input type="radio" [(ngModel)]="selectedOption" name="prize" value="yes">{{culture == 'Hebrew' ? 'תרם את הפרס לילד אחר' : 'Donate the prize to another child'}}
            <label for="yesChoice"></label>
        </label>

        <label>
            <input type="radio" [(ngModel)]="selectedOption" name="prize" value="no">{{culture == 'Hebrew' ? 'לקח את הפרס לעצמו' : 'Took the prize for himself'}}
        </label>

        <button class="mat-raised-button" [disabled]="!selectedOption" class="nextButton" type="submit">{{culture == 'Hebrew' ? 'המשך' : 'Start'}}</button>
    </form>

    <!-- <div *ngIf="true" class="nextButton">
        <button id="nextButton" (click)="ending()">{{culture == 'Hebrew' ? 'המשך' : 'Next'}}</button>
    </div> -->
</div>
    <!-- <button mat-raised-button color="primary" (click)="start()">{{culture == 'Hebrew' ? 'המשך' : 'موافق/ة'}} </button> -->