.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

input[type=radio], input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
  margin: 5px;
}

.text-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.values-div {
  padding: 1%;
  flex: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sum-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  margin: 1%;
}

.sum-img {
  max-width: 30vh;
  max-height: 30vh;
  width: 100%;
}
.mat-form-field{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:10px;
}
.mat-raised-button{
  width:30%;
  border:1px solid rgb(0, 0, 0);
  margin:5px;
  margin-left: 50%;
  margin-right: 35%;
}

button {
  width: 60px;
  height: 33px;
  margin-top: 25px;
  border-radius: 10px;
  border: 0px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}