.containter {
  //   padding: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.values-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.stock-container {
  height: 98vh;
  width: 55vw;
  background-color: rgb(228, 204, 241);
}

.stock-table {
  height: 98vh;
  width: 55vw;
}

.stock-row {
  height: 29vh;
  width: 55vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.stock-cell {
  height: 29vh;
  width: 13.5vw;
  padding: 5px;
}

.stock-card {
  height: 27vh;
  width: 12.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  cursor: pointer;
}

.text {
  padding-left: 1vw;
  padding-right: 1vw;
  max-width: 11.5vw;
  align-self: flex-start;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stock-img {
  height: 18vh;
  width: 11vw;
}

.pyramid-container {
  height: 98vh;
  width: 45vw;
  background-color: skyblue;
}

.pyramid-table {
  height: 98vh;
  width: 45vw;
}

.pyramid-row {
  height: 18.5vh;
  width: 45vw;
  min-height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
}

.pyramid-cell {
  height: 18vh;
  width: 11vw;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

.pyramid-square {
  overflow: hidden;
  background: lightgray;
  width: 10.5vw;
  height: 17vh;
  outline: 4px solid black;
  padding: 3px;
}

.pyramid-cell-data {
  width: 10vw;
  height: 16.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pyramid-img {
  max-width: 100%;
  max-height: 70%;
}

.pyramid-text {
  height: 14.5vh;
}

.button-cell {
  height: 20vh;
  width: 17vw;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.button-cell2 {
  height: 20vh;
  width: 17vw;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.accept-button {
  width: 55vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
