<div class="main" *ngIf="[0, 1, 2].includes(counter)">
  <div *ngIf="isJewishCulture()" >
        <div *ngIf="counter == 0">
          <td style="width:10%">
            <h1 style="text-align: center; ">{{'כמה ביצים יש בתמונה?'}}</h1>
            </td>
            <img class="img-agg" src="../../../assets/attention.task.images/agg.png" width="500" class="center" >
              <form>
                <mat-form-field appearance="fill">
                  <mat-label>Select</mat-label>
                  <mat-select [(ngModel)]="creds.attention1" [ngModelOptions]="{standalone: true}">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                    <mat-option value="5">5</mat-option>
                    <mat-option value="6">6</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
        </div>
        <div *ngIf="counter == 1">
            <td style="width:10%">
              <h1 style="text-align: center;">{{'כמה ברווזים במים יש בתמונה?'}}</h1>
            </td>
            <img class="img-agg" src="../../../assets/attention.task.images/duck.png" width="500" class="center">
            <form>
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select [(ngModel)]="creds.attention2" [ngModelOptions]="{standalone: true}">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
                <mat-option value="6">6</mat-option>
              </mat-select>
            </mat-form-field>
            </form>
          </div>
    </div>

      <div *ngIf="isArabicCulture()" >
        <div *ngIf="counter == 0">
          <td style="width:10%">
            <h1 style="text-align: center; ">{{'كم عدد البيض في الصورة ؟ '}}</h1>
          </td>
          <img class="img-agg" src="../../../assets/attention.task.images/agg.png" width="500" class="center" >
            <form>
              <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select [(ngModel)]="creds.attention1" [ngModelOptions]="{standalone: true}">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                  <mat-option value="6">6</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

        <div *ngIf="counter == 1">
          <td style="width:10%">
            <h1 style="text-align: center;">{{'كم عدد البطات في الصورة ؟'}}</h1>
          </td>
          <img class="img-agg" src="../../../assets/attention.task.images/duck.png" width="500" class="center">
                <form>
                  <mat-form-field appearance="fill">
                    <mat-label>Select</mat-label>
                    <mat-select [(ngModel)]="creds.attention2" [ngModelOptions]="{standalone: true}">
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                      <mat-option value="4">4</mat-option>
                      <mat-option value="5">5</mat-option>
                      <mat-option value="6">6</mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
          </div>
        </div>
</div>

  <div>
    <p *ngIf="displayErrorMessage == true" class="errorRed">{{culture == 'Hebrew' ? 'נא לענות על השאלה' : 'الرجاء الإجابة على السؤال'}}</p>
  <button mat-raised-button color="primary" (click) = "counterUp()" >{{culture == 'Hebrew' ? 'המשך' : 'موافق/ة'}} </button>
</div>
  
 
 

